.card-resumo {
  _transform: scale(.9);
  transition: all .3s ease-out;
}

.card-resumo:hover {
  transform: scale(1.1) rotate(-1deg);
}

@media screen and (max-width: 480px) {
  .card-resumo {
    transform: scale(.9);
  }
  .card-resumo:hover {
    transform: scale(0.9);
  }
}