.scrollbar-custom {
  overflow: auto;
}

.scrollbar-custom::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

.scrollbar-custom::-webkit-scrollbar-thumb {
  background: #0003;
  border-radius: 20px;
}

.scrollbar-custom::-webkit-scrollbar-track {
  background-color: #0001;
}