<html>

  <head>
    <title></title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="/assets/css/base.css">
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/@tabler/icons-webfont/tabler-icons.min.css">

  </head>

  <body class="flex flex-col min-h-dvh opacity-0 bg-base-100 justify-center items-center p-10">
    <span class="overflow-hidden w-full h-dvh select-none flex justify-center items-center absolute -top-5 left-0 text-[58vw] text-base-200/50 font-black z-0">
  500
</span>
<div class="flex flex-col z-10">
  <h1 class="mdi mdi-robot-confused text-8xl text-center mb-8"></h1>
  <h1 class="text-8xl font-bold text-center">Ops!</h1>
  <p class="m-4 text-center text-2xl mb-8">
    Desculpe, algo deu errado... 
  </p>
  <a href="/" class="btn btn-lg btn-outline btn-secondary mt-6">
    <span class="ti ti-arrow-back-up"></span>
    Leve-me de volta
  </a>
</div>  
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" ></script>
<script src="/assets/js/base.js" ></script>

  </body>

</html>