<section class="flex flex-col items-center justify-center w-full p-20 min-h-[calc(100%_-_72px)]">

  <div class="text-primary text-center">
    {{ logo }}   
    <h1 class="mt-6 text-5xl font-bold">Quazymodo</h1>
    <p class="text-2xl mt-1">A php <em class="font-zilla font-semibold text-[1.68rem]">quasi</em>framework.</p>
  </div>

  <div class="text-center mt-10 mx-auto prose">
    <p class="text-xl">Quasymodo provides a simple environment for you to develop Server Side Rendered web apps with reusable components.</p>
  </div>
  
</section>

<section class="flex flex-col items-center justify-center w-full p-20 h-screen bg-secondary">

  <div class="text-primary text-center">
    {{ logo }}   
    <h1 class="mt-6 text-5xl font-bold">Quazymodo</h1>
    <p class="text-2xl mt-1">A php <em class="font-zilla font-semibold text-[1.68rem]">quasi</em>framework.</p>
  </div>

  <div class="text-center mt-10 mx-auto prose">
    <p class="text-xl">Quasymodo provides a simple environment for you to develop Server Side Rendered web apps with reusable components.</p>
  </div>
  
</section>