<section class="flex flex-col justify-center items-center grow w-full p-20 bg-base-100 min-h-[calc(100%_-_72px)]">
  <button 
    id="htmx_test_button"
    class='btn btn-primary btn-lg m-20 mx-auto relative' 
    hx-get='/test/htmx?teste' 
    hx-select="#main_swap"
    hx-trigger='click'
    hx-target='#target'
    hx-swap='innerHTML'
    hx-sync="this:drop"
  >
    Click me please, don't be afraid!<br>
    <div class="htmx-indicator absolute bg-primary h-[90%] w-[90%] flex justify-center">
      <span class="loading loading-dots loading-xl"></span>
    </div>
  </button>
  
  <div 
    id="target" 
    class="grow max-h-20"
  ></div>

  <div 
    id="toast_container"
    class="toast"
    hx-get="htmx?teste" 
    hx-select=".alert"
    hx-swap="beforeend"
    hx-trigger="every 3s"
  ></div>
  
</section>

<script nonce="{{nonce}}">
document.addEventListener("htmx:afterSwap", function(e) {
  $toastDuration = 10000; // Duração do toast em milissegundos
  if (e.detail.target.id === "toast_container") {

    const $currentToast = $(e.detail.target).children().last();

    // Adiciona animação de entrada (opcional)
    // $currentToast.addClass("animate__animated animate__backInUp");

    // Anima a barra de duração do toast
    let $progressBar = $currentToast.find("progress");
    setInterval(() => {
      const currentValue = parseInt($progressBar.attr("value"));
      if (currentValue > 5) {
        $progressBar.attr("value", currentValue - 5);
      } else {
        clearInterval(this);
      }
    }, $toastDuration / 20);

    // Agenda a animação de saída
    setTimeout(() => {
      $currentToast
        .removeClass("animate__animated animate__backInUp")
        .addClass("animate__animated animate__backOutRight")
        .on("animationend webkitAnimationEnd oAnimationEnd", function() {
          $(this).remove();
        });

      // Fallback: Remove após 6s se a animação falhar
      setTimeout(() => {
        if ($currentToast.is(":visible")) $currentToast.remove();
      }, ($toastDuration + 1000));
    }, $toastDuration);
  }
});
</script>