<div class="flex grow justify-center items-center">
  <span id="hack" class="hidden"></span>
  <form 
    id="login-form"
    class="grid columns-1 justify-items-center bg-base-100 gap-7 p-6 md:p-16 rounded-lg md:shadow-md" 
    hx-post="/chat/enterLobby"
    hx-target="#hack"
    hx-sync="this:drop"
    >

    <input type="hidden" name="csrf-token" value="{{ csrf-token }}">
    <i class="ti ti-door-enter text-6xl"></i>  
    <h1 class="text-2xl md:text-3xl font-rubik font-semibold">Entrar no Lobby</h1>

    <label class="input">
      <input id="nickname" name="nickname" type="text" placeholder="seu nome" required/>
    </label>  

    <button id="submit-btn" class="btn btn-lg btn-loading btn-primary text-xl relative w-full">
      Entrar
      <div class="htmx-indicator absolute bg-primary h-full w-full flex justify-center rounded-xl">
        <span class="loading loading-dots loading-xl"></span>
      </div>
    </button>

  </form>
</div>