# AMBIENTE
ENVIRONMENT="development"

# CREDENCIAIS DO GOOGLE
# https://console.cloud.google.com/apis/credentials
GOOGLE_OAUTH_CLIENT_ID=""

# CONFIGURAÇÕES DO BANCO DE DADOS
DB_HOST="localhost"       # Endereço do host do banco de dados
DB_NAME="meu_projeto"     # Nome do banco de dados
DB_USER="usuario"         # Usuário do banco de dados
DB_PASS="senha"           # Senha do banco de dados

# CONFIGURAÇÕES DE EMAIL
MAIL_DRIVER="smtp"        # Método de envio de email (smtp, mail, sendmail, etc.)
MAIL_HOST="mail.exemplo.com" # Endereço do servidor de email
MAIL_PORT="587"           # Porta do servidor de email
MAIL_USERNAME="usuario@example.com" # Usuário do servidor de email
MAIL_PASSWORD="senha"     # Senha do servidor de email
MAIL_ENCRYPTION="tls"     # Criptografia usada para enviar emails (tls ou ssl)
