<section class="flex flex-col items-center justify-center w-full p-8 md:p-20 h-[calc(100vh_-_72px)] overflow-hidden relative">
  <form class="filter">
    <input class="btn btn-square" type="reset" value="×"/>
    <input class="btn bg-rose-300" type="radio" name="frameworks" aria-label="Rosa Antigo"/>
    <input class="btn bg-blue-200" type="radio" name="frameworks" aria-label="Azul Acinzentado"/>
    <input class="btn bg-green-200" type="radio" name="frameworks" aria-label="Verde Pistache"/>
  </form>
</section>