<section class="flex flex-col p-8 items-center justify-center">
  <div class="overflow-x-auto bg-base-100 p-5 rounded-2xl bg-base-200">
    <table class="table">
      <thead>
        <tr class="border-b border-primary">
          <th class="text-primary uppercase">timestamp</th>
          <th class="text-primary uppercase">ip</th>
          <th class="text-primary uppercase">verb</th>
          <th class="text-primary uppercase">uri</th>
          <th class="text-primary uppercase">query string</th>
          <th class="text-primary uppercase">body</th> 
          <th class="text-primary uppercase">response status</th>
          <th class="text-primary uppercase">response time</th>
          <th class="text-primary uppercase hidden">session variables</th>
        </tr>
      </thead>
      <tbody>
        <td class="">{{ timestamp }}</td>
        <td class="">{{ ip }}</td>
        <td class="">{{ method }}</td>
        <td class="">{{ path }}</td>
        <td class="">{{ query }}</td>
        <td class="">{{ body }}</td> 
        <td class="">{{ status_code }}</td>
        <td class="">{{ execution_time_ms }}</td>
        <td class="hidden">{{ session }}</td>
      </tbody>
    </table>
  </div>
</section>