{
    frankenphp
    order php_server before file_server
    # Optional: Define php.ini settings here
    # php_ini { ... }
}

:80 {
    root * /app/public
    
    # php_server directive is needed
    php_server {
    }
}