/*
|------------------------------------------------------------
| 'tw_input.css' é o input do tailwindcss
|------------------------------------------------------------
|
| O tailwind utiliza 'tw_input.css' arquivo como entrada e grava o css final no
| arquivo 'base.css' que é utilizado pelo projeto.
| (https://tailwindcss.com/docs/installation)
|
*/

/* Material Design Icons */
@import url('https://cdn.jsdelivr.net/npm/@mdi/font@7.3.67/css/materialdesignicons.min.css');

/* tabler icons */
@import url('https://cdn.jsdelivr.net/npm/@tabler/icons-webfont/tabler-icons.min.css');

/* Google fonts */
@import url('https://fonts.googleapis.com/css2?family=Cutive&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Zilla+Slab:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');


@import "tailwindcss";
@plugin "daisyui" {
  exclude: rootscrollgutter;
  themes: silk --default, sunset --prefersdark;
}
@plugin "daisyui/theme" {
  name: "silk";
  --color-accent: purple;
}