<div class="flex justify-center lg:py-16">
  <div class="bg-base-100 p-8 lg:p-28 lg:border-2 lg:rounded-2xl">
    <article class="prose">
      <h1 class="text-primary">E-mail confirmado, obrigado!</h1>
  
      <p class="lead">Olá, {{ usuario-nome }}!</p>
  
      <p>
        Obrigado por confirmar seu e-mail!
        <br>
        Agora você pode receber notificações importantes.
      </p>
      <p>
        <a href="/User/profile" class="btn btn-large btn-primary">Ver meu perfil</a>
      </p>
  
    </article>
  </div>
</div>

