<section class="grow flex flex-col justify-start w-full p-20 bg-base-100">

  <div class="text-primary text-center">
    {{ logo }}   
    <h1 class="mt-6 text-5xl font-bold">Quazymodo</h1>
    <p class="text-2xl mt-1">A php <em class="font-zilla font-semibold text-[1.68rem]">quasi</em>framework.</p>
  </div>

  <div class="text-center mt-10 mx-auto prose">
    <p>Quasymodo provides a simple environment for you to develop SSR monolithic websites with reusable components.</p>
  </div>

</section>