<div class="grow flex flex-col max-w-screen-2xl mx-auto">
  <section 
    class="
      grow 
      grid 
      grid-cols-1 
      md:grid-cols-[auto_minmax(450px,45%)]
      lg:grid-cols-[auto_minmax(680px,45%)] 
      max-w-full
  ">

    <div id="a" class="p-6 sm:pr-4 sm:pl-10 flex gap-2 flex-col justify-center">
      <h2 class="text-2xl sm:text-[2.4vw] xl:text-3xl">Nós temos</h2>
      <h1 
        class="
          text-3xl sm:text-[3.2vw] 2xl:text-5xl 
          leading-normal sm:leading-normal 2xl:leading-normal 
          font-cutive font-bold tracking-wide
        ">
        Informações <span class="underline decoration-accent">relevantes</span><br>e <span class="underline decoration-accent">atualizadas</span>
      </h1>
      <h2 class="text-2xl sm:text-[2.4vw] xl:text-3xl">
        sobre <mark class="bg-accent px-2 text-base-100">Fundos Imobiliários</mark> e <mark class="bg-accent px-2 text-base-100">Fiagro</mark>.
      </h2>
    </div> 
    
    <div id="b" class="flex justify-center items-center">

      {{ resumos }}

    </div>
  </section>
</div>

