<div class="flex h-dvh justify-center items-center lg:py-16">
  <div class="bg-base-100 p-8 lg:p-28 lg:border-2 lg:rounded-2xl">
    <article class="prose">
      <h1 class="flex items-center text-accent">
        <span class="ti ti-key-off text-5xl mr-2"></span>
        <span class="mdi mdi-exclamation-thick text-3xl -ml-5 mr-2 mb-4 hidden"></span>
        Token inválido.
      </h1>  
      <p>
        O token informado é inválido ou expirou.
        <br>Acesse a tela de login para gerar um novo token.
      </p>
      <p>
        <a href="/User/login" class="btn btn-large btn-accent">Gerar novo token</a>
      </p>
  
    </article>
  </div>
</div>

