<div class="flex justify-center lg:py-16">
  <div class="bg-base-100 p-8 lg:p-28 border-base-300 lg:border-2 lg:rounded-2xl">
    <div class="text-sm mb-4 hidden">
      Publicado em 02 de fevereiro de 2024
    </div>
    <article class="prose">
      <h1 class="text-accent">Termos de uso mundofii.com</h1>
  
      <p class="lead">Bem-vindo ao mundofii.com. Ao acessar e utilizar nossa plataforma, você concorda em cumprir os seguintes termos e condições. Por favor, leia-os cuidadosamente.</p>
  
      <h2>1. Aceitação dos Termos</h2>
      <p>Ao utilizar os serviços e recursos do mundofii.com, você concorda em estar vinculado por estes Termos de Uso e pela nossa Política de Privacidade. Se não concordar com qualquer parte dos termos, não deve acessar nem utilizar a plataforma.</p>
  
      <h2>2. Elegibilidade</h2>
      <p>O acesso e uso do mundofii.com são permitidos apenas para indivíduos maiores de 18 anos ou menores emancipados/autorizados por responsáveis legais. Ao utilizar a plataforma, você declara e garante que possui idade legal para formar um contrato vinculativo.</p>
  
      <h2>3. Modificações dos Termos</h2>
      <p>O mundofii.com reserva-se o direito de modificar estes Termos de Uso a qualquer momento. As alterações entrarão em vigor imediatamente após a publicação. Ao continuar a usar a plataforma após essas modificações, você concorda em estar vinculado pela versão revisada dos Termos de Uso.</p>
  
      <h2>4. Cadastro</h2>
      <p>Para acessar certos recursos da plataforma, pode ser necessário que você crie uma conta. Você concorda em fornecer informações verdadeiras, precisas, atuais e completas sobre si mesmo, conforme solicitado pelo formulário de cadastro.</p>
  
      <h2>5. Responsabilidades do Usuário</h2>
      <p>Você é responsável por manter a confidencialidade de sua conta e senha e por restringir o acesso ao seu computador. Você concorda em aceitar a responsabilidade por todas as atividades realizadas em sua conta ou através dela.</p>
  
      <h2>6. Segurança e Privacidade</h2>
      <p>O mundofii.com adota medidas de segurança para proteger os dados pessoais dos usuários contra acessos não autorizados. No entanto, a segurança completa não pode ser garantida, e os usuários são aconselhados a adotar práticas de segurança pessoal, como a utilização de senhas fortes e a não compartilhamento de informações de login.</p>
  
      <p>O mundofii.comutiliza cookies para melhorar a navegação, coletar estatísticas de uso e oferecer conteúdo personalizado. Os usuários podem ajustar as configurações de seus navegadores caso prefiram restringir o uso de cookies.</p>
  
      <h2>7. Conteúdo e Propriedade Intelectual</h2>
      <p>O conteúdo publicado no mundofii.com, incluindo textos, gráficos, logos e ícones, é propriedade do mundofii.com ou de seus fornecedores de conteúdo e é protegido por leis de direitos autorais e marcas registradas. Você concorda em não reproduzir, duplicar, copiar, vender, revender ou explorar qualquer parte do serviço mundofii.com sem permissão expressa por escrito.</p>
  
      <h2>8. Conduta do Usuário</h2>
      <p>Você concorda em não utilizar o mundofii.com para postar ou transmitir qualquer conteúdo que seja ilegal, prejudicial, ameaçador, abusivo, assediante, difamatório, vulgar, obsceno, invasivo da privacidade de outra pessoa, odioso ou racial, étnico ou de outra forma questionável.</p>
  
      <h2>9. Acesso Premium</h2>
      <p>O mundofii.com oferece um Acesso Premium que libera todas as ferramentas do site pelo período contratado. A assinatura é realizada mediante uma cobrança única, sem recorrência automática. O pagamento é processado de forma segura pela plataforma <a class="link" href="http://pagar.me">Pagar.me</a>, sem que o mundofii.com armazene qualquer informação financeira ou pessoal do usuário.</p>
  
      <h2>10. Limitação de Responsabilidade</h2>
      <p>O mundofii.com não se responsabiliza por qualquer dano direto, indireto, incidental, especial, consequencial ou exemplar decorrente do uso ou da incapacidade de usar os serviços.</p>
  
      <h2>12. Disposições Gerais</h2>
      <p>Estes Termos de Uso são regidos pelas leis do Brasil. Qualquer disputa relacionada a estes termos será submetida à jurisdição exclusiva dos tribunais brasileiros.</p>
  
      <h2>13. Contato</h2>
      <p>Para quaisquer dúvidas ou solicitações relacionadas a estes Termos de Uso, por favor, entre em contato conosco pelo e-mail <a href = "mailto: atendimento@mundofii.com">atendimento@mundofii.com</a>.</p>
  
      <p>Ao utilizar o mundofii.com, você reconhece que leu, entendeu e concordou em estar vinculado por estes Termos de Uso.</p>
    </article>
  </div>
</div>

