<section class="gap-6 h-[calc(100%_-_7rem)] px-6 pb-6">

  <span class="h-full overflow-hidden grid grid-flow-col grid-cols-3 max-w-screen-2xl mx-auto rounded-3xl">
    <div class="flex flex-wrap content-center p-6">
      <p class="text-4xl font-zilla">
        Porcelanas pintadas à mão.
      </p>
      <p class="text-3xl font-zilla">
        Arte exclusiva feita sob encomenda.
      </p>
    </div>

    <div
    class="col-span-2"
    style="background-image: url('https://instagram.fbsb3-1.fna.fbcdn.net/v/t39.30808-6/366354062_18374209792034713_498670106309152349_n.jpg?stp=dst-jpg_e35&efg=eyJ2ZW5jb2RlX3RhZyI6ImltYWdlX3VybGdlbi4xNDQweDE0NDAuc2RyLmYzMDgwOCJ9&_nc_ht=instagram.fbsb3-1.fna.fbcdn.net&_nc_cat=101&_nc_ohc=NjY2oYdGT3kQ7kNvgHi0Taf&edm=AFg4Q8wAAAAA&ccb=7-5&ig_cache_key=MzE3MjE5MTA0MjE3MDIzMzI2OA%3D%3D.2-ccb7-5&oh=00_AYAa_7ZpIByPbF8NLuppMICBuJzbBB4sQHcdaHFbCkNLTA&oe=669B366B&_nc_sid=0b30b7');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    clip-path: polygon(12% 0, 100% 0, 100% 100%, 0 100%);
    "
    >
    </div>
  </span>
    
</section>