<section class="gap-6 h-[calc(100vh_-_7rem)] max-h-[900px]">

  <div 
    class="flex flex-wrap content-end justify-end h-full w-full overflow-hidden max-w-screen-2xl mx-auto"
    style="background-image: url('https://instagram.fbsb3-1.fna.fbcdn.net/v/t39.30808-6/438216752_18424955386034713_4241589656590190449_n.jpg?stp=dst-jpg_e35_s1080x1080&efg=eyJ2ZW5jb2RlX3RhZyI6ImltYWdlX3VybGdlbi4xNDQweDk2MC5zZHIuZjMwODA4In0&_nc_ht=instagram.fbsb3-1.fna.fbcdn.net&_nc_cat=101&_nc_ohc=zwIXaYcNdHQQ7kNvgHqaxkB&edm=AFg4Q8wAAAAA&ccb=7-5&ig_cache_key=MzM1OTI2MzY0MDYyMTg1MzcwMQ%3D%3D.2-ccb7-5&oh=00_AYDMCKEwzY5TjAsd3vsTSALpMtIuIZJKzd6Oi6QG-6Iu2w&oe=669CC90D&_nc_sid=0b30b7');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    "
    >
    <span class="text-end p-12">
      <h1 class="drop-shadow shadow-black text-amber-50 text-8xl font-light">Arte em Porcelana</h1>
      <h1 class="drop-shadow shadow-black text-amber-50 text-6xl font-black">Pinturas exclusivas</h1>
    </span>

  </div>
    
</section>