<section class="gap-6 h-[calc(100vh_-_7rem)] max-h-[900px]">

  <div 
    class="flex flex-wrap content-end justify-end h-full w-full overflow-hidden max-w-screen-2xl mx-auto"
    style="background-image: url('/assets/img/apporcelanas.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    "
    >
    <span class="text-end p-12">
      <h1 class="drop-shadow shadow-black text-amber-50 text-8xl font-light">Arte em Porcelana</h1>
      <h1 class="drop-shadow shadow-black text-amber-50 text-6xl font-black">Pinturas exclusivas</h1>
    </span>

  </div>
    
</section>