<a 
  href="/User/login"
  id="button-user-login"
  class="btn-icon mdi mdi-login text-2xl"
  tooltip-primary="Entrar"
></a>

<a 
  href="/User/register"
  id="button-user-register"
  class="hidden btn-icon rounded-md mdi mdi-card-account-details-outline text-2xl"
><span class="text-sm font-normal ml-1">Registrar-se</span></a>

<div 
  id="button-user-login"
  class="dropdown dropdown-end hidden"
  >
  <div tabindex="0" role="button" class="mdi mdi-login text-2xl btn-icon"></div>
  <ul tabindex="0" class="menu menu-sm dropdown-content mt-2 z-[1] p-2 bg-secondary rounded-box w-max">
    <li><a href="/User/login">
      <span class="mdi mdi-login text-xl"></span>
      Entrar
    </a></li>
    <li><a href="/User/register">
      <span class="mdi mdi-card-account-details-outline text-xl"></span>
      Registrar-se
    </a></li>
  </ul>
</div>