<div class="glide">
  <div class="hidden lg:block absolute top-0 left-0 h-full w-24 bg-gradient-to-r from-base-100 to-transparent z-10"></div>
  <div class="hidden lg:block absolute top-0 right-0 h-full w-24 bg-gradient-to-l from-base-100 to-transparent z-10"></div>
  <div class="glide__track sm:py-14 h-min" data-glide-el="track">
    <ul class="glide__slides sm:py-14">
      {{ slides }}
    </ul>
  </div>
  <div class="glide__arrows" data-glide-el="controls">
    <button class="glide__arrow glide__arrow--left text-secondary-content" data-glide-dir="<">
      <span class="mdi mdi-chevron-left-circle text-2xl"></span>
    </button>
    <button class="glide__arrow glide__arrow--right" data-glide-dir=">">
      <span class="mdi mdi-chevron-right-circle text-2xl"></span>
    </button>
  </div>
</div>