<div id="navbar-userMenuButton" class="dropdown dropdown-end btn-icon h-10 w-10" user-email="{{ user-email }}">
  <div tabindex="0" role="button" class="avatar top-0.5 right-0.5 z-10">
    <div class="flex justify-center items-center w-7 rounded-full">
      <img id="user-picture" src="{{ user-picture }}"/>
    </div>
  </div>
  <ul tabindex="0" class="menu menu-sm dropdown-content mt-2 p-2 bg-primary rounded-box min-w-52 shadow-md z-0">
    <div class="absolute right-0 -top-10 bg-primary w-10 h-20 rounded-full z-0"></div>
    <div id="user-name" class="mt-2 ml-3 text-xs text-primary-content font-cutive z-10">Olá, {{ user-name }}</div>
    <div id="user-email" class="ml-3 mb-1 text-xs text-primary-content z-10">{{ user-email }}</div>
    <div class="divider my-0.5 hidden"></div>
    <hr class="border-0 bg-primary-content/35 h-[1px] m-2">
    <span class="text-base-content">
      <li><a>
        <span class="mdi mdi-account"></span>
        Perfil
      </a></li>
      <li><a>
        <span class="mdi mdi-cog"></span>
        Configurações
      </a></li>
      <li><a href="/User/logout">
        <span class="mdi mdi-logout"></span>
        Sair
      </a></li>
    </span>
  </ul>
</div>