
<div class="min-h-dvh flex grow justify-center items-center">
  <form 
    id="resetpwd-form"
    class="grid columns-1 bg-base-100 gap-7 p-6 md:p-8 rounded-lg md:shadow-base-300 md:shadow-2xl md:max-w-[420px]" 
    action="#"
    method="POST">

    <input type="hidden" name="csrf-token" value="{{ csrf-token }}">
    <input type="hidden" name="reset-token" value="{{ reset-token }}">
    {{ site-logo }}
    <h1 class="text-3xl font-rubik font-semibold">Redefinição de senha</h1>
    <p>
      Digite a sua nova senha para concluir o processo de redefinição.
    </p>

    <span class="flex items-center gap-2 w-full border-b border-neutral-content focus-within:border-tomato relative">
      <span class="mdi mdi-lock-outline text-2xl"></span>      
      <label class="pw-viewer swap text-2xl absolute right-2 cursor-pointer rounded-lg w-8 text-center">
        <span class="mdi mdi-eye-closed swap-on"></span>
        <span class="mdi mdi-eye-outline swap-off"></span>
      </label>
      <input required id="password1" name="password1" type="password" placeholder="Sua nova senha" minlength="6" maxlength="20" class="pw-input input outline-none grow text-tomato caret-tomato pr-11" />
    </span>


    <span class="flex items-center gap-2 w-full border-b border-neutral-content focus-within:border-tomato relative">
      <span class="mdi mdi-lock-outline text-2xl"></span>      
      <label class="pw-viewer swap text-2xl absolute right-2 cursor-pointer rounded-lg w-8 text-center">
        <span class="mdi mdi-eye-closed swap-on"></span>
        <span class="mdi mdi-eye-outline swap-off"></span>
      </label>
      <input required name="password2" name="password2" type="password" placeholder="Digite novamente" minlength="6" maxlength="20" class="pw-input input outline-none grow text-tomato caret-tomato pr-11" />
    </span>

    <button class="btn btn-lg btn-accent text-xl" value="">
      Redefinir senha
    </button>
  </form>
</div>