
<div class="min-h-dvh flex grow justify-center items-center">
  <form 
    id="login-form"
    class="grid columns-1 bg-base-100 gap-7 p-6 md:p-8 rounded-lg md:shadow-base-300 md:shadow-2xl md:max-w-[420px]" 
    action="/User/processLoginForm"
    method="POST">

    <input type="hidden" name="csrf-token" value="{{ csrf-token }}">
    {{ site-logo }}
    <h1 class="text-2xl md:text-3xl font-rubik font-semibold">Entrar no mundofii.com</h1>

    {{ login-terceiros }}

    <div class="divider m-0">Ou</div>

    <span class="flex items-center gap-2 w-full border-b border-neutral-content focus-within:border-tomato">
      <span class="mdi mdi-at text-2xl"></span>
      <input required name="email" type="email" placeholder="Seu e-mail" maxlength="50" class="input outline-none grow text-tomato caret-tomato" />
    </span>

    <span class="flex items-center gap-2 w-full border-b border-neutral-content focus-within:border-tomato relative">
      <span class="mdi mdi-lock-outline text-2xl"></span>      
      <label class="pw-viewer swap text-2xl absolute right-2 cursor-pointer rounded-lg w-8 text-center">
        <span class="mdi mdi-eye-closed swap-on"></span>
        <span class="mdi mdi-eye-outline swap-off"></span>
      </label>
      <input required name="password" type="password" placeholder="Sua senha" minlength="6" maxlength="20" class="pw-input input outline-none grow text-tomato caret-tomato pr-11" />
    </span>

    <button id="submit-btn" class="btn btn-lg btn-loading btn-accent text-xl" value="">
      Entrar
    </button>

    <span class="leading-loose text-sm">
      <span class="flex justify-center">
        <a href="" class="ml-1 underline text-primary-content startReset">Esqueceu a senha?</a>
      </span>
  
      <span class="flex justify-center">
        Não tem uma conta?
        <a href="/User/register" class="ml-1 underline text-primary-content">Registre-se</a>
      </span>
    </span>

  </form>
</div>