<div class="navbar-container w-full sticky top-0 bg-base-100 z-30 {{ navbar-container-class }}">
  <div class="navbar min-h-0 mx-auto max-w-screen-2xl px-2 md:px-8 md:py-4">    
    <div class="navbar-start flex items-center">
      {{ navbar-drawer-btn }}
      <span class="navbar-logo {{ navbar-logo-class }}">
        {{ navbar-logo }}
      </span>
      {{ navbar-start }}
    </div>
    <div class="navbar-center">
      {{ navbar-center }}
    </div>    
    <div class="navbar-end gap-1">    
      {{ navbar-end }}
    </div>
  </div>
</div>