<div 
  id="g_id_onload"
  class="hidden"
  data-client_id="{{ GOOGLE_OAUTH_CLIENT_ID }}"
  data-ux_mode="popup"
  data-auto_prompt="false"
  data-use_fedcm_for_prompt="false"
  data-login_uri="{{ site-url }}/User/enterWithGoogle"
  >
</div>

<div class="flex justify-center">
  <div class="w-[219px] h-[41px] rounded-full overflow-hidden">
    <div 
      class="g_id_signin"
      data-type="standard"
      data-shape="pill"
      data-text="continue_with"
      data-size="large"
      data-logo_alignment="center"
      color-scheme="light"
      >
    </div>
  </div>
</div>
